header {
    background-color: #1876D3;
    color: white;
    z-index: 1;
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.navbarcolor{
    background-color:#1876D3;
}
.sidebar {
    background-color: #1876D3;
    color: white;
    width: 200px;
    height: 100vh;
    position: fixed;
}

.sidebar li {
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.sidebar a {
    color: white;
    font-weight: bold;
    display: block;
}

.sidebar li:hover a {
    color: #ffffff;
}

.bottom-link {
    position: fixed;
    bottom: 15px;
    left: 20px;
}

.page-name {
    font-size: 40px;
    position: absolute;
    top: 120px;
    left: 240px;
    font-weight: bold;
}

pre {
    position: absolute;
    right: 500px;
    top: 300px;

}